.plants-page {
    margin: 40px;
    width: 100%;
}

.plants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.plants-title {
    text-transform: uppercase;
    margin-bottom: 20px;
}