@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(46, 46, 46);
}

* {
  box-sizing: border-box;
  margin: 0;
}
